@font-face {
    font-family: 'montserratbold';
    src: url('./fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'montserratmedium';
    src: url('./fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('./fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0;
  padding: 0;

}

.wrapper {
  min-height: 100%;

}

.container {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding:0 0 0 0;
  margin: 0 auto;

}

.article {
   position: relative;
   min-height: 900px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-bottom: 0;

}

.article::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  display: block;
  width: 32.92%;
  height: 100%;
  background-color: black;
}

.article__header {
  display: flex;
  align-items: flex-start;
  padding-left: 52px;

}

.article-header__title {
  color: white;
  color: white;
  margin-top: 36px;
  font-family: 'montserratmedium';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  margin-right: 238px;

}

.language {
  -webkit-appearance: none;
  border-style: none;
  margin-top: 42px;
  margin-right: 7px;
  width: 31px;
  height: 25px;
  font-family: 'montserratmedium';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #FFFFFF;
  background: none;

}

.article-header__arrow {
  width: 11px;
  height: 5.5px;
  padding-top: 54px;

}

.article-header__burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  margin-left: auto;

}

.article__inner {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  align-self: center;

}

.article-inner__main-picture {
  width: 50%;
  margin-right: 54px;

}

.article-inner__content {
  width: 50%;
}

.article-inner__title {
  height: 164px;
  font-family: 'montserratbold';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 82px;
  margin-bottom: 26px;

}

.article-inner__text {
  max-width: 550px;
  font-family: 'montserratregular';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 35px;

  }

.article-inner__anchor-link {
  font-family: 'montserratmedium';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  color: #000;

}

.anchor-link--border {
  border: 1.5px solid #000000;
  padding: 15px 40px;
  margin-right: 50px;

}

 .article-inner__anchor-arrow {
   margin-left: 19px;
   margin-top: 11px;
   width: 43px;
   height: 0px;

}

.article__footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 205px;

}

.article-footer__btn {
  display: flex;

}

.btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  margin-right: 12px

}

.btn-list__facebook {
  margin-right: 0;

}

.scrollup-btn {
  width: 27px;
  height: 46px;
  margin-bottom: 39px;

}

@media (max-width: 1350px) {
    .article-header__title {
        margin-right: 190px;
    }
}

@media (max-width: 1200px) {
.article-inner__anchor-arrow {
  display: none;
    }
}

@media (max-width: 1100px) {
    .article-inner__title {
        font-size: 70px;
        line-height: 60px;
    }
    .language, .article-header__arrow {
      display: none;
    }
}

@media (max-width: 1020px) {
  .article {
    height: auto;
  }
  .article__header {
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .article__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .article-inner__main-picture {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 550px;
    margin: 0;
    }
  .article-inner__content {
    width: 100%;
    text-align: center;
    justify-content: center;
    }
  .article-inner__title{
    font-size: 60px;
    line-height: 50px;
    height: auto;
    }
  .article-inner__text {
    width: auto;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 60px;
    }
  .article::before {
    display: none;
    }
  .article-header__title {
    color: black;
    margin-right: 0;
    }
  .article-inner__anchor {
    margin-bottom: 50px;
    }
  .article__footer {
    justify-content: center;
    padding-right: 50px;
   }
  .scrollup-btn {
    display: none;
   }
.article-header__burger{
  width: 78px;
  height: 78px;
  }
}
@media (max-width: 575px) {
  .article-inner__main-picture {
  display: flex;
  justify-content: center;
  width: 20% auto;
  }
  .article-inner__title {
  font-size: 50px;
  }
  .article__inner{
    max-width: 400px;
  }
  .article-inner__text {
    font-size: 13px;

  }
  .article-inner__anchor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .anchor-link--border {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .article-inner__title {
    font-size: 40px;
    line-height: 35px;
  }
}
