@font-face {
    font-family: 'montserratbold';
    src: url('./fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'montserratmedium';
    src: url('./fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('./fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;

}

.wrapper {
  min-height: 100%;

}

.container {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  padding:0 0 0 0;
  margin: 0 auto;

}

.article {
   position: relative;
   min-height: 900px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-bottom: 0;

}

.article::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  display: block;
  width: 32.92%;
  height: 100%;
  background-color: black;
}

.article__header {
  display: flex;
  align-items: flex-start;
  padding-left: 52px;
  align-items: center;

}

.article-header__title {
  color: white;
  color: white;
  margin-top: 0;
  padding-top: 36px;
  font-family: 'montserratmedium';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  margin-right: 238px;
  align-items: center;

}

.language {
  -webkit-appearance: none;
  border-style: none;
  margin-right: 0px;
  width: 31px;
  height: 25px;
  font-family: 'montserratmedium';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #FFFFFF;
  background: none;

}

.article-header__arrow {
  width: 11px;
  height: 5.5px;

}

.article-header__burger {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  width: 92px;
  height: 92px;
  margin-left: auto;

}

.article__inner {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  align-self: center;

}

.article-inner__main-picture {
  width: 50%;
  margin-right: 54px;

}

.article-inner__content {
  width: 50%;
}

.article-inner__title {
  height: 164px;
  font-family: 'montserratbold';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 82px;
  margin-bottom: 26px;

}

.article-inner__text {
  max-width: 550px;
  font-family: 'montserratregular';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 35px;

  }

.article-inner__anchor-link {
  font-family: 'montserratmedium';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  color: #000;
  align-items: center;

}

.anchor-link--border {
  border: 1.5px solid #000000;
  padding: 15px 40px;
  margin-right: 50px;

}

.article-inner__anchor-links {
  margin-right: 19px;
}

 .article-inner__anchor-arrow {
   margin-left: 0;
   margin-top: 0;
   width: 43px;
   height: 0px;


}

.article__footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 205px;

}

.article-footer__btn {
  display: flex;

}

.btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  margin-right: 12px

}

.btn-list__facebook {
  margin-right: 0;

}

.scrollup-btn {
  width: 27px;
  height: 46px;
  margin-bottom: 39px;

}

@media (max-width: 1350px) {
    .article-header__title {
        margin-right: 190px;
    }
}

@media (max-width: 1200px) {
.article-inner__anchor-arrow {
  display: none;
    }
    .article-header__title {
        margin-right: 170px;
    }
}

@media (max-width: 1140px) {
    .article-inner__title {
        font-size: 70px;
        line-height: 60px;
    }
    .language, .article-header__arrow {
      display: none;
    }
}

@media (max-width: 1020px) {
  .article {
    height: auto;
  }
  .article__header {
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .article__inner {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 550px;
    min-height: 450px;
  }
  .article-inner__main-picture {
    width: 100%;
    height: auto;
    margin: 0;
    }
  .article-inner__content {
    width: 100%;
    text-align: center;
    justify-content: center;
    }
  .article-inner__title{
    font-size: 60px;
    line-height: 50px;
    height: auto;
    }
  .article-inner__text {
    font-size: 14px;
    width: auto;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 60px;
    }
  .article::before {
    display: none;
    }
  .article-header__title {
    color: black;
    margin-right: 0;
    }
  .article-inner__anchor {
    margin-bottom: 50px;
    }
  .article__footer {
    justify-content: center;
    padding-right: 50px;
   }
  .scrollup-btn {
    display: none;
   }
.article-header__burger{
  width: 78px;
  height: 78px;
  }
}
@media (max-width: 990px) {
.article-inner__title {
  font-size: 50px;
}
.article-inner__main-picture {
  margin-bottom: 30px;
  width: 100%;
}
}
@media (max-width: 575px) {
  .article-inner__main-picture {
  display: flex;
  justify-content: center;
  }
  .main-picture__img {
    max-width: 100%
  }
  .article__inner{
    max-width: 400px;
  }
  .article-inner__text {
    font-size: 13px;
  }
  .article-inner__anchor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .article-inner__anchor-link {
    font-size: 12px;
  }
  .anchor-link--border {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .article-inner__title {
    font-size: 40px;
    line-height: 35px;
  }
}
@media (max-width: 479px){
  .main-picture__img {
    max-width: 100%
  }
}
@media (max-width: 375px){
  .article-header__burger {
    width: 70px;
    height: 69px;
    margin-left: auto;
    background: #f2f2f2;
  }
  .menu__burger {
    width: 70px;
    height: 69px;
  }
  .article__header {
    padding-left: 26px;
    margin-bottom: 0;
  }
  .article-header__title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 14px;
  }
  .article{
    padding-bottom: 0;
    justify-content: center;
    min-height: auto;
  }
  .article__inner {
    position: relative;
    align-self: auto;
    margin: 0;
    max-width: 560px;
    height: 100%;
  }
  .article-inner__text, .article-inner__anchor, .article__footer, .main-picture__img {
    display: none;
  }
  .article-inner__main-picture {
    margin-bottom: 0;
    min-height: 530px;
    background: url('./img/mob-version.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }
  .article-inner__title {
    position: absolute;
    left: 25px;
    bottom: 52px;
    margin-bottom: 0;
    text-align: left;
  }
  .article-inner__title::after {
    content: url(./img/стрелка.png);
    display: block;
    padding-top: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
  }


}
